*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  min-inline-size: 1140px;

}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: end;
}

.content__details {
  /* block-size: 100%;
  inline-size: 100%; */
}

.title {
  margin-block-end: 26px;
}

.content__list {
  max-block-size: 300px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;

}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-title {

}

.content__video-card-description {

}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  
  
}