*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  min-inline-size: 1140px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 710px;
  block-size: 390px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.0;
}

.search-form__label {
  display: flex;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox):focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.0;
  background-color: transparent;
  appearance: none;
  min-inline-size: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
  line-height: 1.0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-block-end: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  margin-inline-end: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid #fff;
  padding-block-start: 6px;
  padding-block-end: 6px;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  padding-inline-start: 74px;
  padding-inline-end: 74px;
}

.more-button {
  inline-size: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.title {
  margin-block-end: 25px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px; 
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: auto;
  max-block-size: 300px;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 35px;
}

.content__card-link {
  display: block;
  margin: 1px;
  color: #fff;
  text-decoration: none;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.0;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}